{% extends 'base.html' %}
{% load mvote_extra %}
{% block title %}{{category.name | default:'全部商品'}}{% endblock %}
{% block content %}
<div class="container">
    {{today}}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
    <div class="row">
        <div class="col-2 first">
            {% load account %}

             <ul class="nav flex-column">
                 <li class="nva-item">
                     <a href="/myshop" class="nav-link">首页</a>
                 </li>
                 <li class="nav-item dropdown">
                     <a href="/myshop" class="nav-link dropdown-toggle" data-toggle="dropdown">
                         分类<span class="caret"></span>
                     </a>
                     <span class="caret"></span>
                     <ul class="dropdown-menu">
                         {% for cate in all_categries %}
                         <li><a href="/myshop/{{cate.id}}" class="dropdown-item">{{cate.name}}</a></li>
                         {% endfor %}
                     </ul>
                 </li>
                 <li class="nav-item">
                     <a href="/myshop/cart/" class="nav-link">查看购物车</a>
                 </li>
                 <li class="nav-item">
                     <a href="/myshop/myorders/" class="nav-link">我的订单</a>
                 </li>
             </ul>
        </div>
        <div class="col-10">
            <div class="panel panel-default">
                <div class="panel-heading" align="center">
                    <h3>欢迎光临商城 <br /> 【{{category.name | default:'全部商品'}}】</h3>
                        {% if user.is_authenticated%}
                            {% if user.socialaccount_set.all.0.extra_data.name %}
                                {{user.socialaccount_set.all.0.extra_data.name}} <br />
                                <img src="{{user.socialaccount_set.all.0.get_avatar_url}}" width="100">
                            {% else %}
                                Welcome: {{user.username}}
                            {% endif %}
                        {% else %}
                            <p>欢迎观看该商城,此网页只作为展示，没有实物，请勿购买支付!!!</p>
                        {% endif %}
                </div>
            </div>

            <button class="btn btn-info">
                目前是第{{products.number}}页
            </button>
            {% if products.has_previous %}
                <button class="btn btn-info">
                    <a href="?page=1">首页</a>
                </button>
                <button class="btn btn-info">
                    <a href="?page={{products.previous_page_number}}">上一页</a>
                </button>
            {% endif %}
            <hr />
            {% if products.has_next %}
                <button class="btn btn-info">
                    <a href="?page={{products.next_page_number}}">下一页</a>
                </button>
                <button class="btn bt-info">
                    <a href="?page={{products.end_index}}">末页</a>
                </button>
            {% endif %}
            {% load account %}
            {% for product in products %}
               {% cycle '<div class="row">' '' '' '' %}
                    <div class="col-4 offset-1 col-4 col-4">
                        <div class="thumbnail">
                            <a href="{% url 'product-url' product.id %}">
                                <img src="{{product.image.url}}" width="150" height="150">
                            </a>
                            <div class="caption">
                                <h5><a href ="{% url 'product-url' product.id %}">{{product.name |truncatechars:10 }}</a> </h5>
                                <p>NT$:{{product.price}}</p>
                                <p>库存:{{product.stock}}</p>
                                <p>{{product.description | truncatechars:40}}</p>
                                {% if user.is_authenticated %}
                                    <button class="btn btn-info" {{product.stock | yesno:',disabled'}}>
                                        <a href="{% url 'additem-url' product.id 1 %}" style="color: white">放入购物车</a>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% cycle '' '' '' '</div>' %}
                {% empty %}
                    <!--<div class="row">-->
                        <div class="col-10" align="center">
                            <h3>此分类没有相关的产品</h3>
                        </div>
                    <!--</div>-->
                {% endfor %}

        </div>
        {% if cart.count > 0 %}
                <b>当前购物车有{{cart.count}}款产品</b>
            {% else %}
                <p>购物车是空的</p>
            {% endif %}
    </div>
</div>
{% endblock %}