{% extends 'base.html' %}
{% block title %}{{poll.name}}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" align="center">
                    <h3>添加【{{poll.name}}】的选项</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="{{path}}" method="post" name="myform">
                {%csrf_token%}
                <table>
                    {{form.as_p}}
                </table>
                <input type="submit" value="提交">
            </form>
        </div>
    </div>
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
    <div class="row">
        {% for pollitem in pollitems %}
            {% if forloop.first %}
                <div class="list-group">
            {% endif %}
                    <p class="list-group-item">{{pollitem.name}}</p>
            {% empty %}
                <p>你还尚未添加选项</p>
            {% if forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}