<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand" align="center">
                小熊猫心里话
            </div>
        </div>
        <ul class="nav nav-pills">
            <li class="active">
                <a href="/"><b>Home</b></a>
            </li>
            <li><a href="/list"><b>查看帖子</b></a></li>
            <li><a href="/post"><b>发布帖子</b></a></li>
            <li><a href="/contact"><b>发表意见</b></a></li>
            <li><a href="/post2db"><b>发布心情</b></a></li>
            <li>
                <a href="/admin"><b>管理</b></a>
            </li>
        </ul>
    </div>
</nav>