{% extends 'base.html' %}
{% load mvote_extra %}
{% block title %}主页{% endblock %}
{% block content %}
<div class="container">
    {{today}}
    {% for message in messages %}
        <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" align="center">
                    <h3>欢迎光临小熊猫商城 <br /> 【{{category.name | default:'全部商品'}}】</h3>
                    {% if user.is_authenticated%}
                        {% if user.socialaccount_set.all.0.extra_data.name %}
                            {{user.socialaccount_set.all.0.extra_data.name}} <br />
                            <img src="{{user.socialaccount_set.all.0.get_avatar_url}}" width="100">
                        {% else %}
                            Welcome: {{user.username}}
                        {% endif %}
                    {% else %}
                        <p>欢迎使用Github注册/登录注册您的账号，可拥该买本站的商品</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-info">
            目前是第{{products.number}}页
        </button>
        {% if products.has_previous %}
            <button class="btn btn-info">
                <a href="?page=1">首页</a>
            </button>
            <button class="btn btn-info">
                <a href="?page={{products.previous_page_number}}">上一页</a>
            </button>
        {% endif %}
        {% if products.has_next %}
            <button class="btn btn-info">
                <a href="?page={{products.next_page_number}}">下一页</a>
            </button>
            <button class="btn bt-info">
                <a href="?page={{products.end_index}}">末页</a>
            </button>
        {% endif %}
    </div>

    <div class="row">
        {% load account %}
        {% for product in products %}
           {% cycle '<div class="row">' '' '' '' %}
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="thumbnail">
                        <a href="{% url 'product-url' product.id %}">
                            <img src="{{product.image.url}}" width="150">
                        </a>
                        <div class="caption">
                            <h4><a href ="{% url 'product-url' product.id %}">{{product.name}}</a> </h4>
                            <p>NT$:{{product.price}}</p>
                            <p>库存:{{product.stock}}</p>
                            <p>{{product.description | truncatechars:40}}</p>
                            {% if user.is_authenticated %}
                                <button class="btn btn-info" {{product.stock | yesno:',disabled'}}>
                                    <a href="{% url 'additem-url' product.id 1 %}">放入购物车</a>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% cycle '' '' '' '</div>' %}
        {% empty %}
            <div class="row">
                <div class="col-sm-12" align="center">
                    <h3>此分类没有相关的产品</h3>
                </div>
            </div>
        {% endfor %}
        {% if cart.count > 0 %}
            <em>当前购物车有{{cart.count}}款产品</em>
        {% else %}
            <p>购物车是空的</p>
        {% endif %}
    </div>
</div>
{% endblock %}