{% extends 'base.html' %}
{% block title %}我有话要说{% endblock %}

{% block content %}
    <div class="container">
        {% if message %}
            <div class="alert alert-warning">{{message}}</div>
        {% endif %}
        <form action="." method="POST" name="my form">
            {% csrf_token %}
            <table>
                {{post_form.as_table}}
            </table>
            <input type="submit" value="提交">
            <input type="reset" value="清除数据">
        </form>
    </div>

{% endblock %}