{% extends 'base.html' %}
{% block title %}分享日记{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>用户信息</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{username | upper}}
                </div>
                <div class="panel-body">
                    身高:{{userinfo.height}}<br />
                    电子邮件:{{userinfo.user.email}}<br />
                    性别:{{userinfo.male | yesno:'男, 女'}}<br />
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}