{% extends 'base.html' %}
{% load staticfiles %}
{% load myfun %}
{% block title %}注册{% endblock %}
{% block style %}
<style>
    body{
        background-image: url("{% static 'background/login.jpg' %}");
    }
    .form-box{
        background-image: url("{% static 'background/register.jpg' %}");
        padding: 10px;
    }

</style>
{% endblock %}
{% block content %}
<div class="container">
    {% for message in messages %}
        <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
    <div class="row" style="color: white">
        <div class="col-sm-8 offset-2 text">
            <h3 align="center"><b>注册用户信息</b></h3>
            <div class="description">
                <p align="center">
                    <b>如果你已经有账号，可以点击<a href="/login"><strong>登录</strong></a>, 进行登录！</b>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 offset-3 form-box">
            <div class="form-bottom">
                <form role="form" action="" method="post" class="login-form">
                    {% csrf_token %}
                    {% for item in form %}

                    <div class="form-group">
                        <label for="form-username" style=""><b>{{item.label}}:</b></label>
                        {{item}}
                        <!--{{item| widget_with_classes:'form-control' }}-->
                        {% if forloop.first %}
                        <span class="glyphicon glyphicon-info-sign" style="color: orange"></span>
                        <span class="helptext" style="color:orange;">必填。不多于30个字符。只能用字母、数字和字符 @/./+/-/_ 。</span>
                        {% endif %}
                        {% if forloop.last %}
                        <span class="helptext">为了校验，输入与上面相同的密码。</span>
                        {% endif %}
                    </div>
                    {% endfor %}

                    <div align="center">
                        <button type="submit" class="btn btn-success" style="width: 100%">注册</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#id_username').bind("focusout", function () {
            var username = $('#id_username').val();
            $.ajax({
                type: 'get',
                url: '/ver/',
                data: {
                    'username': username
                },
                success: function (msg) {
                    if (msg == 'True') {
                        repe = '<div id="war"><span class="glyphicon glyphicon-remove" style="color: red">' +
                            '用户名已存在</span></div>';
                        $('#id_username').after(repe);
                    } else {
                        repe = '<div id="war"><span class="glyphicon glyphicon glyphicon-ok" style="color: green">' +
                            '</span> <span style="color:green">该用户名可以使用</span> </div>';
                        $('#id_username').after(repe);
                    }
                }
            })
        });
        $('#id_username').bind('focus', function () {
            $('#war').remove()
        });



        $('#id_password2').bind("focusout", function () {
            var password1 = $('#id_password1').val();
            var password2 = $('#id_password2').val();
            if (password2 != password1) {
                repe = '<div id="war1"><span class="glyphicon glyphicon-remove" style="color: red">' +
                    '</span> <span style="color:red">两次密码不一致</span> </div>';
                $('#id_password2').after(repe);
                $('button').attr('disabled','disabled')
            }
        });
        $('#id_password2').bind('focus', function () {
            $('#war1').remove();
            $('button').removeAttr('disabled')
        });
    });
</script>
{% endblock %}
