<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</head>
<body>
    <!--<h2>{{mes}}</h2>-->
    <!--<hr/>-->
    <!--<em>-->
        <!--{{now}}-->
    <!--</em>-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--<a class="navbar-brand" href="#">-->
                    <!--正在播放{{tv.name}}-->
                <!--</a>-->
                <div class="navbar-brand" align="center">
                    {% load staticfiles %}
                    <img src="{% static 'images/logo.png' %}" alt="加载失败" width="60" />
                    {% block tvname %}{% endblock %}
                </div>
            </div>
            {% block menu %}{% endblock %}
            <!--<ul class="nav navbar-nav">-->
                <!--<li class="active"><a href="/">Home</a></li>-->
                <!--<li><a href="{% url 'tv-url' 0 %}">足球</a></li>-->
                <!--<li><a href="{% url 'tv-url' 1 %}">最美的安排</a></li>-->
            <!--</ul>-->
        </div>
    </nav>
    {% block content %}{% endblock %}
    <!--<div class="continer">-->
        <!--<div id="tvcode" align="center">-->
            <!--<iframe src="https://v.youku.com/v_show/{{tv.tvcode}}==.html?autoplay=1" frameborder="0" width="560" height="315" allowfullscreen></iframe>-->
        <!--</div>-->
    <!--</div>-->
    <div class="panel panel-default" align="center">
        <div class="panel-fooler"><em>{{now}}</em></div>
    </div>
    <div style="text-align: center;">
        {% include "fooler.html" %}
    </div>
</body>
</html>