<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="icon" href="{% static 'images/true.jpg' %}">

    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="{% static './bootstrap-4.4.1-dist/css/bootstrap.css' %}">
    <meta name="viewport" content="width=device-width, inital-scale=1, shrink-to-fit=no">
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static './bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>
    {% block style %}
    {% endblock %}
    <style>
        {% load staticfiles %}
        .first{
            background-image: url("{% static 'background/register.jpg' %}");
            height: 690px;
        }
    </style>

</head>
<body >
<div class="container">
    {% include 'header.html' %}

    {% block content %}
    {% endblock %}
    {% include 'footer.html' %}
</div>


</body>
</html>