<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand" align="center">
                事项
            </div>
        </div>
        <ul class="nav nav-pills">
            <li class="active">
                <a href="/"><b>Home</b></a>
            </li>
            <li><a href="/list"><b>查看事项</b></a></li>
            <li><a href="/post"><b>发布事项</b></a></li>
            <li>
                <a href="/admin"><b>管理</b></a>
            </li>
        </ul>
    </div>
</nav>